<!DOCTYPE html>
<html lang="en" ng-app="clinicalapp">
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">

        <!-- Semantic UI -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>


        <link href="/css/semantic.min.css" rel="stylesheet" type="text/css" >
        <link href="/css/timeline-datauri.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/css/main.css" rel="stylesheet" type="text/css" >

        <link href="/css/snap.css" rel="stylesheet" type="text/css" >
        <link href="/css/demo.css" rel="stylesheet" type="text/css" >
       <title>{% block title %}{% endblock title %}</title>
    </head>
    <body id="mainbody">


        {% block content %}{% endblock content %}



        <script src="/javascript/jquery-1.9.1.js" type="text/javascript"></script>
        <script src="/javascript/semantic.js" type="text/javascript"></script>
        <script src="/javascript/snap.js" type="text/javascript"></script>

        <script src="/app/main.js"></script>
        {% block scripts %}{% endblock scripts %}

    </body>
</html>