{% extends 'user_layout.html' %}


{% block title %}
	{{title}}
{% endblock title %}


{% block profile %}
    <img class="ui avatar image" src="{{pacient.profile_img}}">

	<strong class="profileName">{{ pacient.firstname + ' ' + pacient.lastname }}</strong>
{% endblock profile %}

{% block menu %}

	<ul>
	    <li><a href="/pacient"><i class="big home icon"></i><span> Home </span> </a></li>
	    <li><a href="/pacient/timeline"><i class="big calendar icon"></i><span> Schedule  </span> </a></li>
	    <li><a href="/pacient/messages"><i class="big mail icon"></i><span> Messages </span> </a></li>
	</ul>

{% endblock menu %}


{% block content %}


	<!-- ############ Inbox ############ -->
	<div id="panel-inbox" class="wide">
		<div class="ui grid segment">
	    	<div class="wide column">
				<h2 class="ui header">
					<i class="inbox icon"></i>
					Inbox
				</h2>

				<div id="btnAddMessage" class="ui small button">New</div>

				<div class="ui divided inbox selection list tab active" style="height: 250px; overflow-y: auto;">
			      


					{% for msg in messages %}
					<a class="item">
						<div class="ui grid">
							<div class="fourteen wide middle column">
								<strong>{{ msg.from }}</strong>
								<div class="description">
									{{ msg.message }}
								</div>
								<div class="date">
									{{ msg.date|date('h:m m-d-Y') }}
								</div>
							</div>
<!-- 							<div class="two wide middle column">
								<div class="ui icon buttons right floated ">
									<div class="ui tiny button">
										<i class="reply mail icon"></i>
									</div>
								</div>
							</div> -->
						</div>
					</a>
					{% endfor %}	

				</div>
			</div>
		</div>	
	</div>
	<!-- ############ Inbox ############ -->


{% endblock content %}

{% block modals %}


 <!-- ############ ADD Message FORM ############ -->
  <div id="addMessage" class="ui modal transition hidden">
   <form id="addMessageForm" method="post" action="/message/add">
    <div class="ui error form segment hidden">

    	<input type="hidden" name="from" value="{{pacient.username}}">

        <div class="field">
          	<label>To</label> 

			<select name="to" multiple id="senderTo" style="width:100%;">
			    {% for otheruser in otherusers %}
			    	<option value="{{otheruser.username}}">{{otheruser.firstname + 	' ' + otheruser.lastname}}</option>
			    {% endfor %}
			</select>


        </div>

      <div class="field">
        <label>Description</label>
        <textarea name="message" type="text"></textarea>
      </div> 

      <div class="actions">
        <div class="ui black button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button">
          Send 
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
  </form>
  </div>
  <!-- ############ ADD Message FORM ############ -->


{% endblock modals %}


{% block scripts %}
	<script src="/app/pacient.js"></script>
{% endblock scripts %}