h3.header.ui,h3
{
	font-weight: 700;
}
#timeline .development.header
{
	margin-bottom: .05em;
}
#timeline .development .sub.header
{
	color: #9DA6AB;
}
#timeline .ui.responsive.grid.timeline-show
{
	margin-top: 25px;
}
#timeline .box-carousel-item
{
	display: inline-block;
	margin-right: .3em;
}
#shop-product-image-holder
{
	display: inline-block;
	position: relative;
	width: 100%;
}
#shop-product-image-holder img
{
	width: 100%;
}
#timeline .pricing-btn
{
	margin-bottom: 1em;
	width: 100%;
}
#timeline .ui.grid.timeline-stats>.main.column .stat
{
	font-size: 1.75em;
}
#timeline .ui.grid.timeline-stats>.column
{
	text-align: center;
}
#timeline .ui.grid.timeline-stats>.column
{
	margin-bottom: 1em;
	text-align: center;
}
#timeline .ui.grid.timeline-stats>.column .label
{
	color: #9EA6AB;
	font-size: .6875em;
	text-transform: uppercase;
}
#timeline .ui.grid.timeline-stats>.column .stat
{
	font-size: 1.125em;
	font-weight: bold;
}
#timeline .ui.grid.timeline-stats>.column .sparkline
{
	height: 30px;
	margin-bottom: 2px;
}
#timeline .ui.timeline
{
	border-left: 3px solid #dcddde;
	margin-left: .5em;
}
h2.product-title,h2.product-title a,.product-price p
{
	color: rgba(0,0,0,.75);
	margin: 0;
}
.product-price .price
{
	color: #5BBD72;
	font-weight: normal;
	margin-top: .2em;
}
#new-cart-item .header.price
{
	color: #5BBD72;
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 3px;
}
.ui.select2-container
{
	width: 100%;
}
#new-cart-item .add-to-cart
{
	margin-top: .8em;
}
#new-cart-item .quantity-label
{
	display: block;
	font-size: 1em;
	margin: .8em 0 .3em 0;
}
#new-cart-item .quantity
{
	font-style: 1em;
	height: 3em;
	padding: .3em 1em;
	width: 20%;
	width: 50%;
}
#timeline .event
{
	margin-bottom: 3em;
	padding-left: 43px;
	position: relative;
}
#timeline .ui.feed.feedback .event
{
	margin: 0;
	padding: .75em 0 .75em 1em;
}
#timeline .ui.feed .event.add.comment
{
	margin-bottom: 0;
}
#timeline .box-carousel img,#shop-product-image-holder img
{
	cursor: pointer;
}
#timeline .event .name.cont-toggle
{
	cursor: pointer;
	left: -8px;
	position: relative;
}
#timeline .event .top .help
{
	display: inline-block;
	font-size: .7em;
}
#timeline .event .top .help .icon
{
	margin-left: .325em;
	opacity: .4;
}
.milestone.event .top .help .icon
{
	font-size: 1em;
}
.milestone.event .top .help .icon:hover
{
	opacity: 1;
}
.launch.event .overview.card .content
{
	padding: 1em;
}
.event .positive.header,#timeline .event .positive.header
{
	margin-bottom: 0;
}
#timeline .brainstorm.event .video,#timeline .evaluation.event .video
{
	background-color: #333;
	height: 302px;
	max-width: 100%;
	width: 480px;
}
#timeline .design.event .ui.bottom.segment,#timeline .status.event .ui.bottom.segment,#timeline .research.event .ui.bottom.segment,#timeline .ideation.event .ui.bottom.segment
{
	margin-top: 1em;
}
#timeline .timeline .ui.idea.card
{
	width: 100%;
}
#timeline .timeline .ui.idea.card>.idea
{
	height: auto;
}
#timeline .large.feedback.ui.feed .ui.gallery
{
	width: auto;
}
#timeline .large.feedback.ui.feed .ui.gallery .image,#timeline .large.feedback.ui.feed .ui.gallery .image img
{
	width: 100%;
}
#timeline .event .ui.bottom.segment.inactive
{
	display: none;
}
#timeline .event .ui.bottom.segment.no-padding
{
	padding: 0;
}
#timeline .ui.segment.shadowless.basic
{
	box-shadow: none;
	margin-top: 1em;
	moz-box-shadow: none;
	o-box-shadow: none;
	webkit-box-shadow: none;
	width: 90%;
}
#timeline .ui.segment img
{
	max-width: 100%;
}
#timeline .event .marker .icon.white
{
	background: #00B5AD;
	box-shadow: none;
	color: white;
	margin: 0;
	moz-box-shadow: none;
	o-box-shadow: none;
	opacity: 1;
	webkit-box-shadow: none;
}
#timeline .event .marker .icon
{
	background: #dcddde;
	box-shadow: none;
	moz-box-shadow: none;
	o-box-shadow: none;
	webkit-box-shadow: none;
}
#timeline .event .triangle.teal.icon
{
	margin: 0;
	width: 1.1em;
}
#timeline .event .ui.header,#timeline .event h2
{
	font-size: 1.5em;
	margin-bottom: 0;
}
#timeline .event .marker
{
	/*background: #f8f8f8;*/
	cursor: default;
	left: -20px;
	padding: 7px 3px;
	position: absolute;
	top: -9px;
}
#timeline .tab-controller
{
	cursor: pointer;
}
#timeline .ui.segment.overview
{
	padding: 10px 16px 18px;
}
#timeline .ui.header.pricing-graph-header
{
	font-size: 1em;
	margin-bottom: .5em;
}
#timeline .pricing-stat .progress
{
	margin-bottom: .5em;
}
#timeline .pricing-stat h3
{
	font-size: 1em;
	font-weight: bold;
	margin-bottom: .3em;
}
#timeline .pricing-stat .ui.progress.striped .bar
{
	color: white;
	text-align: center;
}
.event .feedback
{
	background-color: #FCFCE4;
	border: 1px solid #C9C979;
	border-radius: 3px;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.05);
	clear: both;
	margin: 15px 0 0 0;
	moz-border-radius: 3px;
	moz-box-shadow: 1px 2px 1px rgba(0,0,0,0.05);
	webkit-border-radius: 3px;
	webkit-box-shadow: 1px 2px 1px rgba(0,0,0,0.05);
	width: 90%;
}
#timeline .event .who img
{
	display: inline;
}
#timeline .ui.idea.card.research>.idea
{
	height: auto;
}
#timeline .event .user
{
	color: rgba(0,0,0,.5);
}
#timeline .ui.grid.entries
{
	margin-bottom: 1rem;
	margin-top: 1rem;
}
#timeline .entries .info h4
{
	min-height: 75px;
}
#timeline .user .ui.circular.image
{
	display: inline-block;
	margin-right: .8em;
	width: 36px;
}
#timeline .user .caption-text,#timeline .caption .caption-text
{
	margin-right: 1em;
}
#timeline .caption .ui.image.fifty
{
	display: inline-block;
	margin-right: .8em;
	width: 50px;
}
#timeline .ui.card.margin.idea
{
	margin: 25px 0;
}
#timeline .card-body
{
	padding: 8%;
}
#timeline .card-body h4
{
	color: #5D6266;
	font-size: 2em;
	font-style: italic;
}
#timeline .ui.table.vote
{
	margin: 25px 0;
}
#timeline .event .feedback .comment.event
{
	clear: both;
}
#timeline .event .feedback .comment.event .activate
{
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
}
#timeline .event .feedback .comment.event .expanded
{
	display: none;
}
#timeline .event .feedback .comment.event .form
{
	width: auto;
}
#timeline .event .feedback .comment.event .form .tiny-editor
{
	margin: 15px 0 10px;
}
#timeline .event .feedback .comment.event .form .divider
{
	margin: 10px 0;
}
#timeline .event .feedback .comment.event .form .qq-upload-button
{
	float: left;
}
#timeline .event .feedback .comment.event .form textarea
{
	height: 80px;
	margin-bottom: 5px;
	resize: vertical;
}
#timeline .ui.feed a.feeback-img-link
{
	display: inline-block;
	width: 50px;
}
#timeline .large.feedback
{
	position: relative;
}
#timeline .large.feedback:after
{
	background-color: #FCFCE4;
	background-image: none;
	box-shadow: -1px -1px 1px 0 #C9C979;
	content: " ";
	height: .5em;
	left: 1em;
	margin: 0;
	moz-box-shadow: -1px -1px 1px 0 #C9C979;
	moz-transform: rotate(45deg);
	pointer-events: none;
	position: absolute;
	right: auto;
	top: -0.25em;
	transform: rotate(45deg);
	webkit-box-shadow: -1px -1px 1px 0 #C9C979;
	webkit-transform: rotate(45deg);
	width: .5em;
	z-index: 2;
}
#timeline .event .feedback .comment.event.active .activate
{
	display: none;
}
#timeline .event .feedback .comment.event.active .expanded
{
	display: block;
}
#timeline .event .feedback .event>.delete
{
	background-color: #fdd;
	border: 1px solid #c55;
	border-left: none;
	border-radius: 0 4px 4px 0;
	box-shadow: 1px 0 2px 0 rgba(0,0,0,0.3) inset;
	color: #500;
	cursor: pointer;
	font-size: 16px;
	height: 26px;
	margin: 0;
	moz-border-radius: 0 4px 4px 0;
	moz-box-shadow: 1px 0 2px 0 rgba(0,0,0,0.3) inset;
	moz-transition: all .1s;
	moz-transition-delay: .2s;
	ms-transition: all .1s;
	ms-transition-delay: .2s;
	opacity: 0;
	o-transition: all .1s;
	o-transition-delay: .2s;
	padding: 6px 4px 5px;
	position: absolute;
	right: -26px;
	top: 10px;
	transition: all .1s;
	transition-delay: .2s;
	webkit-border-radius: 0 4px 4px 0;
	webkit-box-shadow: 1px 0 2px 0 rgba(0,0,0,0.3) inset;
	webkit-transition: all .1s;
	webkit-transition-delay: .2s;
	width: 26px;
}
#timeline .ui.feed .content iframe,#timeline .ui.feed .content iframe object
{
	width: 92%;
}
#timeline .event .feedback .event:hover>.delete
{
	opacity: .6;
}
#timeline .event .feedback .event:hover>.delete:hover
{
	moz-transition-delay: 0s;
	ms-transition-delay: 0s;
	opacity: 1;
	o-transition-delay: 0s;
	transition-delay: 0s;
	webkit-transition-delay: 0s;
}
#timeline .ui.feed .expanded .content
{
	display: inline-block;
	width: 90%;
}
#timeline .large.feedback .when
{
	color: #ccc;
}
#timeline .float-l
{
	float: left;
}
#timeline .float-r
{
	float: right;
}
#timeline .spacer
{
	margin-top: 1rem;
}
.fluid.media
{
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}
.fluid.media iframe
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}